# Python
__pycache__/
*.py[cod]
*.so

# Logs and Outputs
*.log
*.csv

# Model Files
*.pt
*.onnx

# MacOS
.DS_Store

# Ultralytics and YOLO training output
runs/

# Local virtual environment
.venv/

# Dataset (large files)
dataset-2/
*.jpg
*.jpeg
*.png
